
/* @media (max-width: 789px) and (min-width: 600px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav {
    margin-top: 0.5rem;
  }

  .header-nav a {
    margin: 0 1rem 0 0;
  }
} */

@media (max-width: 789px) and (min-width: 600px) {
  .product-card {
    max-width: 100%;
    min-width: 280px;
  }

  .product-card img {
    width: 100%;
    max-width: 280px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
  }
}


@media (max-width: 600px) and (min-width: 280px) {
  #productsContainer {
    grid-template-columns: 1fr;
  }
  .product-card {
    max-width: 100%; /* Cards can fill container but won’t exceed it */
    min-width: 280px; /* Maintain minimum width */
  }

  .product-card img {
    width: 100%;      /* Fill card width */
    max-width: 280px; /* But don’t get wider than 280px */
    height: auto;     /* Maintain aspect ratio */
    object-fit: contain;
    margin: 0 auto;   /* Center image horizontally */
  }
}
