body {
    background-color: rgb(255, 209, 2);
    font-family: "Montserrat";
    margin: 0;
}

.header #first {
    display: flex;

    gap: 10px;
}

.menu {
    display: none;
}

#container {
    display: flex;
    gap: 10px;
}

.login button {
    background-color: blue;
    border-radius: 10px;
    padding: 7px;
    border: 0;
    margin: 0;
    color: white;


}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
    margin-top: 5px;

}

.carusel {

    height: 100px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    gap: 20px;
    justify-content: center;

    overflow: hidden;
}

.carusel {

    height: 100px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    gap: 20px;
    justify-content: center;

    overflow: hidden;
}

.carusel::-webkit-scrollbar {
    display: none;
}

.carusel-img {
    width: 11%;

    height: 100px;

    transition: transform 0.3s ease,
        box-shadow 0.3s ease;
    border-radius: 10px;
    cursor: pointer;



}

.carusel-img:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);

}

.texts {
    border-radius: 20px;
    background-color: white;
    font: bold;
    width: 50%;
    padding: 10px;
    font-family: "Montserrat";
    font-size: 25px;
}